{% from '_formhelpers.html' import render_field %}
{% extends 'base.html' %}
{% block title %}
    Home - {{ super() }}
{% endblock %}
{% block content %}
    <h1>給与計算アプリ</h1>
    <p>給与計算を行います。勤務先情報と出勤・退勤時刻および休憩開始・終了時刻を入力してください。</p>
    <div class="row">
        <form method="POST">
            {{ workplace_form.csrf_token }}
            {{ worktime_form.csrf_token }}
            {{ render_field(workplace_form.name) }}
            {{ render_field(workplace_form.hourly) }}
            {{ workplace_form.submit }}
            <br><br>
            出勤時間:
            {{ worktime_form.start_hour }}時
            {{ worktime_form.start_minute }}分
            <br>
            退勤時刻:
            {{ worktime_form.end_hour }}時
            {{ worktime_form.end_minute }}分
            <br>
            {{ worktime_form.break_radio.label }}
            {{ worktime_form.break_radio() }}
            <div id="break", style="display: none;">
                休憩開始時刻:
                {{ worktime_form.break_start_hour }}時
                {{ worktime_form.break_start_minute }}分
                <br>
                休憩終了時刻:
                {{ worktime_form.break_end_hour }}時
                {{ worktime_form.break_end_minute }}分
                <br>
            </div>
            {{ worktime_form.submit }}
        </form>
    </div>
    {% if salary %}
        <p>給料は{{ salary | int }}円です。</p>
    {% endif %}

    <script>
        const radios = document.querySelectorAll('input[name="break_radio"]');
        radios.forEach(radio => {
            radio.addEventListener('change', () => toggleInputField());
        });

        function toggleInputField() {
            const input_field = document.getElementById('break');
            const selected_radio = document.querySelector('input[name="break_radio"]:checked');
            if (selected_radio && selected_radio.value === '1') {
                input_field.style.display = 'block';
            } else {
                input_field.style.display = 'none';
            }
        }
        toggleInputField();
    </script>
{% endblock %}