<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>
            {% block title %}給与計算アプリ{% endblock %}
        </title>
    </head>
    <header>
        <nav>
            {% block header %}
            <h1 style="display: inline;"><a href="{{ url_for('app.home') }}">給与計算アプリ</a></h1>
            <a href="{{ url_for('app.workplace') }}">勤務先登録</a>
            <a href="{{ url_for('app.worktime') }}">勤務時間入力</a>
            <a href="{{ url_for('app.home') }}">ログアウト</a>
            <a href="{{ url_for('app.login') }}">ログイン</a>
            <a href="{{ url_for('app.register') }}">新規登録</a>
            {% endblock %}
        </nav>
    </header>
    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>