{% from '_formhelpers.html' import render_field %}
{% extends 'base.html' %}
{% block title %}
    Home - {{ super() }}
{% endblock %}
{% block content %}
{% for message in get_flashed_messages() %}
{{ message }}
{% endfor %}

<h1>現在の給与：</h1>
{% for worktime in worktimes %}
<li>
    {{ worktime.start_date }}:
    ({{ worktime.workplace }})
    {{ worktime.start_time | int }}時
    {{ (worktime.start_time % 1 * 60) | round }}分～
    {{ worktime.end_time | int }}時
    {{ (worktime.end_time % 1 * 60) | round }}分
</li>
{% endfor %}
<a href="{{ url_for('app.worktime') }}">勤務時間を登録する</a>

{% endblock %}